* {
    margin: 0;
    padding: 0;
}

.section-one {
    height: 500px;
    background: #1f2937;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
}

h2 {
    font-size: 24px;
    color: white;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold
    ;
}

span {
    font-size: 18px;
    color: white;
}

.nav {
    display: flex;
    margin-bottom: 120px;
    
}

.nav-links {
    margin-left: auto;
}

.nav-link-3, .nav-link-2 {
    margin-left: 16px;
}

button {
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
    border-color: #3882F6;
}
img {
    width: 400px;
    height: 150px;   
    margin-left: auto;
}
.section-inside {
    display: flex;
    align-items: center;    
}
.s-header {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.section-inside1 {
    padding: 20px;
    align-items: center;
    
}
.section-inside-i {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 100px;
}

.section-inside-i figure {
    width: 160px;
}


.section-inside-i figcaption {
    text-align: center;
}


.section-inside-i img {
    width: 100%;
    margin-left: auto;
    border: 4px solid blue;
    border-radius: 6px;
    
}
.section-2 {
    background-color: #E5E7EB;
    font-size: 36px;
    padding: 100px;
    padding-left: 250px;
    
}
.section-2 p {
    
}